# Arquivos e diretórios gerados pelo Node.js
node_modules/
npm-debug.log

# Dependências específicas de pacotes
package-lock.json
yarn.lock

# Arquivos de configuração do npm
.npm

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testes e cobertura de testes
__tests__/
coverage/

# Arquivos de build
build/
dist/

# Dependências instaladas via Bower
bower_components/

# Arquivos temporários
*.tmp

# Arquivos de configuração específicos do IDE
.idea/
.vscode/

# Arquivos de ambiente
.env
